<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>정보 설정 - 비밀번호 재설정 | 스마트 시티</title>
  <link rel="stylesheet" href="/stylesheets/dhsec.css">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <div id='mask' style='background-color:#d3d3d3; height: 300px; width: 300px;'>
    <div id='loadingImg'><img src='/images/spinner.gif' style='position: inherit; z-index:6; display: block; margin: 0px auto; margin;'></div>
  </div>
  
</body>
</html>