<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>잘못된 접근 | 스마트 시티</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <!-- joinWrap -->
  <div class="join__wrap">
    <div class="join__inner">
      <header class="join__header">
        <h1 class="join__title"><span class="join__title--top">CITY HUB</span>잘못된 접근입니다.</h1>
      </header>
      <main class="join__main">
        <div class="join__bottom">
          <a class="button button__outline--primary" href="/main">메인화면 이동</a>
        </div>
      </main>
      <div class="footer">
        <ul class="util__list">
          <li class="util__item"><a class="util__link" href="#none">이용약관</a></li>
          <li class="util__item"><a class="util__link" href="#none">개인정보처리방침</a></li>
        </ul>
        <h2 class="footer__logo"><span class="hidden">City Hub</span></h2>
        <ul class="mark__list">
          <li class="mark__item"><span class="hidden">국토교통부</span></li>
          <li class="mark__item"><span class="hidden">KAIA</span></li>
          <li class="mark__item"><span class="hidden">KETI</span></li>
        </ul>
        <p class="footer__copyright">Copyright©SmartCity Datahub. All rights reserved.</p>
      </div>
    </div>
  </div>
  <!-- //joinWrap -->
</body>
</html>