<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>회원가입 - 가입완료 | 스마트 시티</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <!-- joinWrap -->
  <div class="join__wrap">
    <div class="join__inner">
      <header class="join__header">
        <h1 class="join__title"><span class="join__title--top">CITY HUB</span>회원가입</h1>
        <ul class="join__process-list">
          <li class="join__process-item"><span class="join__process-text--step material-icons">step1</span><span class="join__process-text">개인정보입력</span></li>
          <li class="join__process-item is-current"><span class="join__process-text--step material-icons">step2</span><span class="join__process-text">가입완료</span></li>
        </ul>
      </header>
      <main class="join__main">
        <h2 class="hidden">회원가입 본문</h2>
        <p class="join__result-text"><span class="join__result-text--emphasis">회원가입</span>을 축하드립니다</p>
        <div class="join__bottom">
          <a class="button button__outline--primary" href="#none">메인화면 이동</a>
          <a class="button button__outline--primary" href="/">로그인화면 이동</a>
        </div>
      </main>
      <div class="footer">
        <ul class="util__list">
          <li class="util__item"><a class="util__link" href="#none">이용약관</a></li>
          <li class="util__item"><a class="util__link" href="#none">개인정보처리방침</a></li>
        </ul>
        <h2 class="footer__logo"><span class="hidden">City Hub</span></h2>
        <ul class="mark__list">
          <li class="mark__item"><span class="hidden">국토교통부</span></li>
          <li class="mark__item"><span class="hidden">KAIA</span></li>
          <li class="mark__item"><span class="hidden">KETI</span></li>
        </ul>
        <p class="footer__copyright">Copyright©SmartCity Datahub. All rights reserved.</p>
      </div>
    </div>
  </div>
  <!-- //joinWrap -->
</body>
</html>