<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>내 정보 - 내 정보 | 스마트 시티</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/dhsec.css">
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <div class="login__wrap">
      <main class="login">
        <h1 class="login__title">City Hub<small class="login__title--small"> 비밀번호 확인</small></h1>
        <form class="login__form" method="POST" action=<%= url %> </form>
          <fieldset class="login__fieldset">
            <legend>비밀번호 정보 입력</legend>
              <label class="label__lgoin"><span class="hidden">비밀번호</span><input id="userPwd" name="userPwd" class="input__login" type="password" autocapitalize="off" placeholder="비밀번호 입력" autocomplete="off" required></label>
              <div class="warning_msg" id="dsg" style="display:none"></div>
              <!-- <input style="text-align: center; cursor: pointer;" value="확인" type="button" class="button__login" onclick="passwordAuth('/user/myinfo');"> -->
              <button class="button__login" type="submit">확인</button>
          </fieldset>
        </form>
        <div class="footer">
          <ul class="util__list">
            <li class="util__item"><a class="util__link" href="#none">이용약관</a></li>
            <li class="util__item"><a class="util__link" href="#none">개인정보처리방침</a></li>
          </ul>
          <h2 class="footer__logo"><span class="hidden">City Hub</span></h2>
          <ul class="mark__list">
            <li class="mark__item"><span class="hidden">국토교통부</span></li>
            <li class="mark__item"><span class="hidden">KAIA</span></li>
            <li class="mark__item"><span class="hidden">KETI</span></li>
          </ul>
          <p class="footer__copyright">Copyright©SmartCity Datahub. All rights reserved.</p>
        </div>
      </main>
    </div>
</body>
</html>